body {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    font-family: roboto;
      
}

.headers {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    width: 100%;
    align-self: center;
    color: #f9faf8;
    font-size: 24px;
    align-items: center;   
}

.header {
    margin-left: 20%;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 18px;
    color: #e5e7eb;
    gap: 16px;
    margin-right: 20%;
}

.hero {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.button, .button2 {   
    background-color: #3882f6;
    padding: 10px 18px;
    border-radius: 8px;
    color: #f9faf8;
    height: 40px;
    width: 125px;
    font-weight: bold;
    font-size: 16px;   
}

.text-button {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 30%;
}

img {
    height: auto;
    width: 30%;
    max-width: 100%;
}

.banner {
    display: flex;
    background-color: #1f2937;
    height: 500px;
    justify-content: center;
    align-items: center;
    
        
}

.quotesig {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    height: 500px;
    font-size: 36px;
    font-style: italic;
    justify-content: center;
    align-items: center;
}

.quote {
    width: 61%;
}

.thor {
    display: flex;
    justify-content: flex-end;
    width: 61%;
    padding: 8px;
    margin-right: 65px;
    font-weight: bold;
}

.center {
    display: flex;
    flex-direction: column;
    height: 500px;
    background-color: white;
    justify-content: center;
}

.call-to-action {
    display: flex;
    height: 350px;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.box { 
    display: flex;
    height: 45%;
    width: 70%;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    border-radius: 10px;
}

.footer-button {
    display: flex;
    justify-content: center;
    align-items: center;

}


.time {
    color: #f9faf8;
    font-size: 25px;
    font-weight: bold;
}

.action-two {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 500;
}

.subtext {
    margin-bottom: 16px;
}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    height: 150px;
       
}


.textpic-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 350px;
    gap: 30px;
    /* border: 1px solid;; */
}

.textpic {
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 275px;
    /* border: 1px solid red;     */
    align-items: center;
}

.textpic > div {
    margin-top: 8px;
    text-align: center;
    font-size: 14pt;
}

.img1 {
    width: 210px;
    max-width: 100%;
    height: 180px;
    border: 5px solid #3882f6;
    border-radius: 8px;
    margin-bottom: 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #1f2937;
    color: #f9faf8;
}




